@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IN:wght@100..400&family=Rubik+Marker+Hatch&display=swap');

body{
background-image: linear-gradient(to bottom,blue,blueviolet,black);
background-size: contain;
height: 100vh;


}

p{
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-size: 30px;

}
h1{
    font-family: "Madimi One", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: black;
    text-align: center;
}
label{
    font-size: larger;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}
input{
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
